# RICE-VIRT-DATA-PT-05-2022-U-B-MW Module 6 Challenge

# Deliverable 2: Create a Customer Travel Destinations Map
## Code Summary
- **Purpose  :** Collect and analyze weather data across cities worldwide, using 500 or more unique & random cities
- **Created  :** 2022 Jun 20 05:55:00 UTC (Meghan E. Hull)
- **Modified :** 2022 Jun 22 07:59:44 UTC (Meghan E. Hull)

## Dependencies

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
import time

# Add the directory above current directory to list of directories where Python will look for modules
import sys; sys.path.insert(0, '..')

## API Key

In [2]:
# Import the API key from main directory
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

# Inputs
## Import / Export File Names

In [3]:
weather_csv_file="../Weather_Database/WeatherPy_database.csv"
output_data_file="WeatherPy_vacation.csv"
output_png_file="WeatherPy_vacation_map.png"

## 1. Import the WeatherPy_database.csv file.

In [4]:
city_data_df = pd.read_csv(weather_csv_file)
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bulgan,MN,48.8125,103.5347,72.90,42,52,5.46,broken clouds
1,1,Codrington,AU,-38.2667,141.9667,54.19,80,100,20.40,overcast clouds
2,2,Rikitea,PF,-23.1203,-134.9692,71.58,58,76,19.71,broken clouds
3,3,Alofi,NU,-19.0595,-169.9187,76.89,94,75,4.61,broken clouds
4,4,Hermanus,ZA,-34.4187,19.2345,44.80,84,0,13.20,clear sky

## 2. Prompt the user to enter minimum and maximum temperature criteria

In [5]:
temp_min=float(input("Please enter the lowest Max Temperature (F):  "))
temp_max=float(input("Please enter the highest Max Temperature (F): "))

Please enter the lowest Max Temperature (F):  65
Please enter the highest Max Temperature (F): 85

## 3. Filter City Dataframe

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
city_search_df=city_data_df.loc[(city_data_df["Max Temp"]>=temp_min) & (city_data_df["Max Temp"]<=temp_max)]
city_search_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bulgan,MN,48.8125,103.5347,72.90,42,52,5.46,broken clouds
2,2,Rikitea,PF,-23.1203,-134.9692,71.58,58,76,19.71,broken clouds
3,3,Alofi,NU,-19.0595,-169.9187,76.89,94,75,4.61,broken clouds
7,7,Airai,TL,-8.9266,125.4092,72.23,43,65,4.29,broken clouds
8,8,Cairns,AU,-16.9167,145.7667,83.07,67,100,16.11,overcast clouds
11,11,Anloga,GH,5.7947,0.8973,77.32,87,52,7.96,broken clouds
15,15,Diffa,NE,13.3154,12.6113,81.05,53,48,11.01,scattered clouds
16,16,Geraldton,AU,-28.7667,114.6000,68.41,64,0,5.75,clear sky
18,18,Maragogi,BR,-9.0122,-35.2225,73.56,90,28,3.38,scattered clouds
19,19,Awbari,LY,26.5921,12.7805,79.86,19,0,9.69,clear sky

## 4. Clean Up City Dataframe

In [7]:
# 4a. Determine if there are any empty rows.
clean_df=city_search_df.copy()
clean_df.replace("",np.nan,inplace=True)
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
clean_df=clean_df.dropna()
clean_df.reset_index(drop=True,inplace=True)
clean_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Bulgan,MN,48.8125,103.5347,72.90,42,52,5.46,broken clouds
1,2,Rikitea,PF,-23.1203,-134.9692,71.58,58,76,19.71,broken clouds
2,3,Alofi,NU,-19.0595,-169.9187,76.89,94,75,4.61,broken clouds
3,7,Airai,TL,-8.9266,125.4092,72.23,43,65,4.29,broken clouds
4,8,Cairns,AU,-16.9167,145.7667,83.07,67,100,16.11,overcast clouds
5,11,Anloga,GH,5.7947,0.8973,77.32,87,52,7.96,broken clouds
6,15,Diffa,NE,13.3154,12.6113,81.05,53,48,11.01,scattered clouds
7,16,Geraldton,AU,-28.7667,114.6000,68.41,64,0,5.75,clear sky
8,18,Maragogi,BR,-9.0122,-35.2225,73.56,90,28,3.38,scattered clouds
9,19,Awbari,LY,26.5921,12.7805,79.86,19,0,9.69,clear sky

# Find Nearby Hotels
## 5. Create Dataframe for Hotel

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Bulgan,MN,72.90,broken clouds,48.8125,103.5347,
1,Rikitea,PF,71.58,broken clouds,-23.1203,-134.9692,
2,Alofi,NU,76.89,broken clouds,-19.0595,-169.9187,
3,Airai,TL,72.23,broken clouds,-8.9266,125.4092,
4,Cairns,AU,83.07,overcast clouds,-16.9167,145.7667,
5,Anloga,GH,77.32,broken clouds,5.7947,0.8973,
6,Diffa,NE,81.05,scattered clouds,13.3154,12.6113,
7,Geraldton,AU,68.41,clear sky,-28.7667,114.6000,
8,Maragogi,BR,73.56,scattered clouds,-9.0122,-35.2225,
9,Awbari,LY,79.86,clear sky,26.5921,12.7805,

## 6. Use Google Directions API to find a nearby hotel

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "language": "en",
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [11]:
# Print the beginning of the logging.
print("Beginning Data Retrieval for " + str(len(hotel_df)) + " Cities")
print("--------------------------------------------------")

# Set start time (sec0nds)
t_o=time.time()

# Create counters.
record_count = 1
set_count = 1
skip_count = 0


# 6b. Iterate through the hotel DataFrame.
for i, city in hotel_df.iterrows():

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city['City']}")
    
    # Add 1 to the record count.
    record_count += 1

    # 6c. Get latitude and longitude from DataFrame
    lat=city["Lat"]
    lng=city["Lng"]
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={lat}%2C{lng}&language={params['language']}&radius={params['radius']}&type={params['type']}&key={params['key']}"

    # 6e. Make request and retrieve the JSON data from the search. 
    mysearch=requests.get(url).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    # Method 1 - Using try except (437.33 seconds to run)
#     try:
#         hotel_df.at[i,'Hotel Name']=mysearch['results'][0]['name']
    
#     # If an error is experienced, skip the city.
#     except Exception as e:
#         skip_count += 1
#         print("Hotel not found near city. Skipping...")
#         pass
    # Method 2 - Using status field (452.23 seconds to run)
#     if mysearch['status']=='OK':
#         hotel_df.at[i,'Hotel Name']=mysearch['results'][0]['name']
#     elif mysearch['status']=='ZERO_RESULTS':
#         skip_count += 1
#         print("Hotel not found near city. Skipping...")
#     else:
#         skip_count += 1
#         print(f"Error processing search for city ({mysearch['status']}). Skipping...")
    # Method 3 - Combination (441.92 seconds to run)
    try:
        if mysearch['status']=='OK':
            hotel_df.at[i,'Hotel Name']=mysearch['results'][0]['name']
        elif mysearch['status']=='ZERO_RESULTS':
            skip_count += 1
            print("Hotel not found near city. Skipping...")
        else:
            skip_count += 1
            print(f"Error processing search for city ({mysearch['status']}). Skipping...")
    except Exception as e:
        skip_count += 1
        print("Runtime error during processing. Re-executing may fix the issue. Skipping...")
        pass
    

# Set end time (sec0nds)
t_f=time.time()

# Find elapsed time (sec0nds)
t_del=t_f-t_o
t_del_hr=int(t_del/3600)
t_del_min=int(t_del/60)-t_del_hr*60
t_del_sec=round(t_del-t_del_hr*3600-t_del_min*60,2)
t_del_str=str(t_del_hr) + ":" + str(t_del_min) + ":" + str(t_del_sec) + " (" + str(round(t_del,2)) + " sec)"

# Indicate that Data Loading is complete.
print("--------------------------------------------------")
print("Data Retrieval Completed     ")
print("--------------------------------------------------")
print("Time Elapsed: " + t_del_str)
print("Hotels found for " + str(len(hotel_df)-skip_count) + " of " + str(len(hotel_df)) + " cities")
print("--------------------------------------------------")

Beginning Data Retrieval for 318 Cities
--------------------------------------------------
Processing Record 1 of Set 1 | Bulgan
Processing Record 2 of Set 1 | Rikitea
Processing Record 3 of Set 1 | Alofi
Processing Record 4 of Set 1 | Airai
Hotel not found near city. Skipping...
Processing Record 5 of Set 1 | Cairns
Processing Record 6 of Set 1 | Anloga
Processing Record 7 of Set 1 | Diffa
Processing Record 8 of Set 1 | Geraldton
Processing Record 9 of Set 1 | Maragogi
Processing Record 10 of Set 1 | Awbari
Processing Record 11 of Set 1 | Kinshasa
Processing Record 12 of Set 1 | Bodrum
Processing Record 13 of Set 1 | Luneville
Processing Record 14 of Set 1 | Kita
Processing Record 15 of Set 1 | Kapaa
Processing Record 16 of Set 1 | Hithadhoo
Processing Record 17 of Set 1 | Siocon
Processing Record 18 of Set 1 | Thompson
Processing Record 19 of Set 1 | Puerto Ayora
Processing Record 20 of Set 1 | Sovetskiy
Processing Record 21 of Set 1 | Atuona
Processing Record 22 of Set 1 | Robertsport
Processing Record 23 of Set 1 | Tautira
Processing Record 24 of Set 1 | Mana
Processing Record 25 of Set 1 | Luanda
Processing Record 26 of Set 1 | Biak
Processing Record 27 of Set 1 | Marsh Harbour
Processing Record 28 of Set 1 | Pitimbu
Processing Record 29 of Set 1 | Severo-Yeniseyskiy
Processing Record 30 of Set 1 | Katsuura
Processing Record 31 of Set 1 | Avarua
Processing Record 32 of Set 1 | Saint George
Processing Record 33 of Set 1 | Alice Springs
Processing Record 34 of Set 1 | Aquiraz
Processing Record 35 of Set 1 | Kavaratti
Processing Record 36 of Set 1 | Ajdabiya
Processing Record 37 of Set 1 | Mandalgovi
Processing Record 38 of Set 1 | Ponta Do Sol
Processing Record 39 of Set 1 | Kavieng
Processing Record 40 of Set 1 | Naze
Processing Record 41 of Set 1 | Bambous Virieux
Processing Record 42 of Set 1 | High Rock
Processing Record 43 of Set 1 | Gulf Gate Estates
Processing Record 44 of Set 1 | Dudinka
Processing Record 45 of Set 1 | Butaritari
Processing Record 46 of Set 1 | Bathsheba
Processing Record 47 of Set 1 | Iralaya
Processing Record 48 of Set 1 | Auki
Processing Record 49 of Set 1 | Vaini
Processing Record 50 of Set 1 | Odoyev
Processing Record 1 of Set 2 | Baneasa
Hotel not found near city. Skipping...
Processing Record 2 of Set 2 | Norman Wells
Processing Record 3 of Set 2 | Topchikha
Processing Record 4 of Set 2 | Kushiro
Processing Record 5 of Set 2 | Cockburn Town
Processing Record 6 of Set 2 | Muli
Processing Record 7 of Set 2 | Darnah
Processing Record 8 of Set 2 | Manokwari
Processing Record 9 of Set 2 | Urumqi
Processing Record 10 of Set 2 | Bilma
Processing Record 11 of Set 2 | Vao
Processing Record 12 of Set 2 | Suluq
Processing Record 13 of Set 2 | Herat
Hotel not found near city. Skipping...
Processing Record 14 of Set 2 | Caravelas
Processing Record 15 of Set 2 | Praia
Processing Record 16 of Set 2 | Saint-Philippe
Processing Record 17 of Set 2 | Mayo
Processing Record 18 of Set 2 | Eyl
Processing Record 19 of Set 2 | Dongsheng
Processing Record 20 of Set 2 | Sao Filipe
Processing Record 21 of Set 2 | San-Pedro
Processing Record 22 of Set 2 | Russellville
Processing Record 23 of Set 2 | Thinadhoo
Hotel not found near city. Skipping...
Processing Record 24 of Set 2 | Hamada
Processing Record 25 of Set 2 | Jalu
Processing Record 26 of Set 2 | Banamba
Processing Record 27 of Set 2 | Along
Processing Record 28 of Set 2 | Lazaro Cardenas
Processing Record 29 of Set 2 | Meulaboh
Processing Record 30 of Set 2 | Isangel
Processing Record 31 of Set 2 | Kelo
Processing Record 32 of Set 2 | Tual
Processing Record 33 of Set 2 | Moussoro
Processing Record 34 of Set 2 | Avera
Hotel not found near city. Skipping...
Processing Record 35 of Set 2 | Mahebourg
Processing Record 36 of Set 2 | Belmonte
Processing Record 37 of Set 2 | Madinat Sittah Uktubar
Processing Record 38 of Set 2 | Nome
Processing Record 39 of Set 2 | Sao Jose Da Coroa Grande
Processing Record 40 of Set 2 | Lakatoro
Processing Record 41 of Set 2 | Carnarvon
Processing Record 42 of Set 2 | Bengkulu
Processing Record 43 of Set 2 | Pauini
Processing Record 44 of Set 2 | Hilo
Processing Record 45 of Set 2 | Bakchar
Processing Record 46 of Set 2 | Dhidhdhoo
Processing Record 47 of Set 2 | Touros
Processing Record 48 of Set 2 | Cabo San Lucas
Processing Record 49 of Set 2 | Duluth
Processing Record 50 of Set 2 | Santa Isabel Do Rio Negro
Processing Record 1 of Set 3 | Tim
Hotel not found near city. Skipping...
Processing Record 2 of Set 3 | Alghero
Processing Record 3 of Set 3 | Gat
Processing Record 4 of Set 3 | Vichy
Processing Record 5 of Set 3 | Semey
Processing Record 6 of Set 3 | Vostok
Hotel not found near city. Skipping...
Processing Record 7 of Set 3 | Takoradi
Processing Record 8 of Set 3 | Yar-Sale
Processing Record 9 of Set 3 | Hashtrud
Processing Record 10 of Set 3 | Inhambane
Processing Record 11 of Set 3 | Minudasht
Processing Record 12 of Set 3 | Konde
Hotel not found near city. Skipping...
Processing Record 13 of Set 3 | Luwuk
Processing Record 14 of Set 3 | Maracacume
Processing Record 15 of Set 3 | Barao De Melgaco
Processing Record 16 of Set 3 | Zhanaozen
Processing Record 17 of Set 3 | Talnakh
Processing Record 18 of Set 3 | Karratha
Processing Record 19 of Set 3 | Kantunilkin
Processing Record 20 of Set 3 | Hunucma
Processing Record 21 of Set 3 | Kibi
Processing Record 22 of Set 3 | Terralba
Processing Record 23 of Set 3 | San Patricio
Processing Record 24 of Set 3 | Asfi
Processing Record 25 of Set 3 | Xifeng
Processing Record 26 of Set 3 | Petropavlovsk-Kamchatskiy
Processing Record 27 of Set 3 | Port Hedland
Processing Record 28 of Set 3 | Zalari
Processing Record 29 of Set 3 | Zeya
Processing Record 30 of Set 3 | Tura
Processing Record 31 of Set 3 | Totness
Processing Record 32 of Set 3 | Faanui
Processing Record 33 of Set 3 | Sabha
Processing Record 34 of Set 3 | Romitan
Processing Record 35 of Set 3 | Bandarbeyla
Processing Record 36 of Set 3 | Arraial Do Cabo
Processing Record 37 of Set 3 | Makakilo City
Processing Record 38 of Set 3 | Fukue
Processing Record 39 of Set 3 | Kawalu
Processing Record 40 of Set 3 | Ayagoz
Processing Record 41 of Set 3 | Papara
Processing Record 42 of Set 3 | Nagua
Processing Record 43 of Set 3 | Savalou
Processing Record 44 of Set 3 | Sarrebourg
Processing Record 45 of Set 3 | Niesky
Processing Record 46 of Set 3 | Shubarshi
Hotel not found near city. Skipping...
Processing Record 47 of Set 3 | Tazovskiy
Processing Record 48 of Set 3 | Tiarei
Processing Record 49 of Set 3 | Starkville
Processing Record 50 of Set 3 | Marawi
Processing Record 1 of Set 4 | Shepsi
Processing Record 2 of Set 4 | Ous
Hotel not found near city. Skipping...
Processing Record 3 of Set 4 | Bratsk
Processing Record 4 of Set 4 | Bubaque
Processing Record 5 of Set 4 | Nioro
Hotel not found near city. Skipping...
Processing Record 6 of Set 4 | Voh
Processing Record 7 of Set 4 | Vila Velha
Processing Record 8 of Set 4 | Barra Do Bugres
Processing Record 9 of Set 4 | Tucumcari
Processing Record 10 of Set 4 | Puerto Padre
Processing Record 11 of Set 4 | Sembe
Hotel not found near city. Skipping...
Processing Record 12 of Set 4 | Ryotsu
Processing Record 13 of Set 4 | Owando
Processing Record 14 of Set 4 | Linxia
Processing Record 15 of Set 4 | Atar
Processing Record 16 of Set 4 | Miracema Do Tocantins
Processing Record 17 of Set 4 | Carnot
Hotel not found near city. Skipping...
Processing Record 18 of Set 4 | Coffs Harbour
Processing Record 19 of Set 4 | Lebedinyy
Hotel not found near city. Skipping...
Processing Record 20 of Set 4 | Skala
Processing Record 21 of Set 4 | Harper
Processing Record 22 of Set 4 | Buchanan
Processing Record 23 of Set 4 | Nicoya
Processing Record 24 of Set 4 | Kultuk
Processing Record 25 of Set 4 | Houma
Processing Record 26 of Set 4 | Huilong
Processing Record 27 of Set 4 | Remanso
Processing Record 28 of Set 4 | Nakamura
Processing Record 29 of Set 4 | Ixtapa
Processing Record 30 of Set 4 | Baruun-Urt
Processing Record 31 of Set 4 | Coruripe
Processing Record 32 of Set 4 | Rapid Valley
Processing Record 33 of Set 4 | Caborca
Processing Record 34 of Set 4 | Makushino
Processing Record 35 of Set 4 | Fengcheng
Processing Record 36 of Set 4 | Havelock

Processing Record 37 of Set 4 | Richards Bay
Processing Record 38 of Set 4 | Kiunga
Processing Record 39 of Set 4 | Belle Fourche
Processing Record 40 of Set 4 | Nijar
Processing Record 41 of Set 4 | Guayaramerin
Processing Record 42 of Set 4 | Yulara
Processing Record 43 of Set 4 | Ensley
Processing Record 44 of Set 4 | Puerto Carreno
Processing Record 45 of Set 4 | Mount Isa
Processing Record 46 of Set 4 | Ust-Koksa
Processing Record 47 of Set 4 | San Cristobal
Processing Record 48 of Set 4 | Pachino
Processing Record 49 of Set 4 | Kudahuvadhoo
Processing Record 50 of Set 4 | Rumonge
Processing Record 1 of Set 5 | Mayumba
Processing Record 2 of Set 5 | Bowen
Processing Record 3 of Set 5 | Baykit
Hotel not found near city. Skipping...
Processing Record 4 of Set 5 | Dodge City
Processing Record 5 of Set 5 | Hongjiang
Processing Record 6 of Set 5 | Saint-Pierre
Processing Record 7 of Set 5 | Shiyan
Processing Record 8 of Set 5 | Samarai
Processing Record 9 of Set 5 | Teahupoo
Processing Record 10 of Set 5 | Punta De Piedra
Processing Record 11 of Set 5 | Negotin
Processing Record 12 of Set 5 | Kirakira
Processing Record 13 of Set 5 | Kulhudhuffushi
Processing Record 14 of Set 5 | Itarema
Processing Record 15 of Set 5 | Sioux Lookout
Processing Record 16 of Set 5 | Igrim
Processing Record 17 of Set 5 | Tutoia
Processing Record 18 of Set 5 | Batavia
Processing Record 19 of Set 5 | Innisfail
Processing Record 20 of Set 5 | Kamenka
Hotel not found near city. Skipping...
Processing Record 21 of Set 5 | Andijon
Processing Record 22 of Set 5 | Zharkent
Processing Record 23 of Set 5 | Sarti
Processing Record 24 of Set 5 | Saint-Joseph
Processing Record 25 of Set 5 | Mazagao
Processing Record 26 of Set 5 | Oliveira Dos Brejinhos
Processing Record 27 of Set 5 | Souillac
Processing Record 28 of Set 5 | Aguia Branca
Processing Record 29 of Set 5 | Superior
Processing Record 30 of Set 5 | Moindou
Processing Record 31 of Set 5 | Yantai
Processing Record 32 of Set 5 | Emerald
Processing Record 33 of Set 5 | Mandiana
Processing Record 34 of Set 5 | Grand Gaube
Processing Record 35 of Set 5 | Cayenne
Processing Record 36 of Set 5 | Hovd
Processing Record 37 of Set 5 | Callaway
Processing Record 38 of Set 5 | Port-Gentil
Processing Record 39 of Set 5 | Xichang
Processing Record 40 of Set 5 | Algeciras
Processing Record 41 of Set 5 | Mus
Hotel not found near city. Skipping...
Processing Record 42 of Set 5 | Asyut
Processing Record 43 of Set 5 | Kismayo
Processing Record 44 of Set 5 | Piterka
Hotel not found near city. Skipping...
Processing Record 45 of Set 5 | Dali
Processing Record 46 of Set 5 | Onda
Processing Record 47 of Set 5 | Vanavara
Hotel not found near city. Skipping...
Processing Record 48 of Set 5 | Brunico
Processing Record 49 of Set 5 | Shache
Processing Record 50 of Set 5 | Buala
Processing Record 1 of Set 6 | Puerto Escondido
Processing Record 2 of Set 6 | Thayetmyo
Processing Record 3 of Set 6 | Tabory
Hotel not found near city. Skipping...
Processing Record 4 of Set 6 | Merauke
Hotel not found near city. Skipping...
Processing Record 5 of Set 6 | Acapulco
Processing Record 6 of Set 6 | Ulaanbaatar
Processing Record 7 of Set 6 | Khoy
Processing Record 8 of Set 6 | Amahai
Processing Record 9 of Set 6 | Bolshevik
Processing Record 10 of Set 6 | Epe
Processing Record 11 of Set 6 | Angoche
Processing Record 12 of Set 6 | Kargasok
Processing Record 13 of Set 6 | Yeppoon
Processing Record 14 of Set 6 | Boa Vista
Processing Record 15 of Set 6 | Sungaipenuh
Processing Record 16 of Set 6 | Pangoa
Hotel not found near city. Skipping...
Processing Record 17 of Set 6 | Paoua
Processing Record 18 of Set 6 | Virginia Beach
Processing Record 19 of Set 6 | Ixhuatan
Processing Record 20 of Set 6 | Kungurtug
Hotel not found near city. Skipping...
Processing Record 21 of Set 6 | Bonfim
Hotel not found near city. Skipping...
Processing Record 22 of Set 6 | Somvarpet
Processing Record 23 of Set 6 | Nezhinka
Processing Record 24 of Set 6 | Solnechnyy
Processing Record 25 of Set 6 | Kingston
Processing Record 26 of Set 6 | Mananjary
Processing Record 27 of Set 6 | Muroto
Processing Record 28 of Set 6 | Manta
Processing Record 29 of Set 6 | Tomatlan
Processing Record 30 of Set 6 | Jerez
Processing Record 31 of Set 6 | Nalut
Hotel not found near city. Skipping...
Processing Record 32 of Set 6 | Nouadhibou
Processing Record 33 of Set 6 | Santa Ana
Processing Record 34 of Set 6 | Bandar-E Anzali
Processing Record 35 of Set 6 | Kerema
Processing Record 36 of Set 6 | Oistins
Processing Record 37 of Set 6 | Ati
Hotel not found near city. Skipping...
Processing Record 38 of Set 6 | Sarangani
Processing Record 39 of Set 6 | Cap Malheureux
Processing Record 40 of Set 6 | Oron
Processing Record 41 of Set 6 | Cozumel
Processing Record 42 of Set 6 | Celestun
Processing Record 43 of Set 6 | Coxim
Processing Record 44 of Set 6 | Ambilobe
Processing Record 45 of Set 6 | Gusau
Processing Record 46 of Set 6 | Kisangani
Processing Record 47 of Set 6 | Miyako
Processing Record 48 of Set 6 | Krasnoselkup
Processing Record 49 of Set 6 | Pedreiras
Processing Record 50 of Set 6 | The Valley
Processing Record 1 of Set 7 | San Juan Del Sur
Processing Record 2 of Set 7 | Porto Velho
Processing Record 3 of Set 7 | Noumea
Processing Record 4 of Set 7 | Manicore
Processing Record 5 of Set 7 | Zarubino
Processing Record 6 of Set 7 | Sabang
Processing Record 7 of Set 7 | Verkh-Usugli
Processing Record 8 of Set 7 | Mogadishu
Processing Record 9 of Set 7 | Cabanas
Processing Record 10 of Set 7 | Sangar
Hotel not found near city. Skipping...
Processing Record 11 of Set 7 | Amapa
Hotel not found near city. Skipping...
Processing Record 12 of Set 7 | Sinnamary
Processing Record 13 of Set 7 | Kabardinka
Processing Record 14 of Set 7 | Poum
Hotel not found near city. Skipping...
Processing Record 15 of Set 7 | Vari
Processing Record 16 of Set 7 | Akhmim
Processing Record 17 of Set 7 | Tecoanapa
Processing Record 18 of Set 7 | Brownsville
--------------------------------------------------
Data Retrieval Completed
--------------------------------------------------
Time Elapsed: 0:7:16.86 (436.86 sec)
Hotels found for 289 of 318 cities
--------------------------------------------------

## 7. Drop the rows where there is no Hotel Name.

In [12]:
# 7a. Copy dataframe
clean_hotel_df=hotel_df.copy()
print(f"clean_hotel_df has {len(clean_hotel_df)} rows")
clean_hotel_df.tail(10)

clean_hotel_df has 318 rows

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
308,Cabanas,CU,75.52,light rain,22.9758,-82.9219,Villa Luis Montesino y Anabel
309,Sangar,RU,66.07,overcast clouds,63.9242,127.4739,
310,Amapa,BR,69.40,scattered clouds,1.0000,-52.0000,
311,Sinnamary,GF,76.64,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
312,Kabardinka,RU,76.98,few clouds,44.6514,37.9428,Ð‘Ð°Ð·Ð° Ð¾Ñ‚Ð´Ñ‹Ñ…Ð° ÐžÑ€Ð»ÐµÐ½Ð¾Ðº
313,Poum,NC,72.95,few clouds,-20.2333,164.0167,
314,Vari,GR,79.02,clear sky,37.8312,23.8081,The Margi
315,Akhmim,EG,82.60,clear sky,26.5622,31.7450,Ø¨Ø±Ø¬ Ø§Ù„Ù…Ø§Ø³Ø© Ø§Ù„Ø³ÙƒÙ†ÙŠ
316,Tecoanapa,MX,76.89,overcast clouds,16.5167,-98.7500,Hotel Manglares
317,Brownsville,US,82.90,clear sky,25.9018,-97.4975,Best Western Hotel Plaza Matamoros

In [13]:
# 7b. Replace empty hotel names with NaN
clean_hotel_df["Hotel Name"].replace("",np.nan,inplace=True)
print(f"clean_hotel_df has {clean_hotel_df['Hotel Name'].isnull().sum()} cities with no hotel.")
clean_hotel_df.tail(10)

clean_hotel_df has 29 cities with no hotel.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
308,Cabanas,CU,75.52,light rain,22.9758,-82.9219,Villa Luis Montesino y Anabel
309,Sangar,RU,66.07,overcast clouds,63.9242,127.4739,NaN
310,Amapa,BR,69.40,scattered clouds,1.0000,-52.0000,NaN
311,Sinnamary,GF,76.64,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
312,Kabardinka,RU,76.98,few clouds,44.6514,37.9428,Ð‘Ð°Ð·Ð° Ð¾Ñ‚Ð´Ñ‹Ñ…Ð° ÐžÑ€Ð»ÐµÐ½Ð¾Ðº
313,Poum,NC,72.95,few clouds,-20.2333,164.0167,NaN
314,Vari,GR,79.02,clear sky,37.8312,23.8081,The Margi
315,Akhmim,EG,82.60,clear sky,26.5622,31.7450,Ø¨Ø±Ø¬ Ø§Ù„Ù…Ø§Ø³Ø© Ø§Ù„Ø³ÙƒÙ†ÙŠ
316,Tecoanapa,MX,76.89,overcast clouds,16.5167,-98.7500,Hotel Manglares
317,Brownsville,US,82.90,clear sky,25.9018,-97.4975,Best Western Hotel Plaza Matamoros

In [14]:
# 7c. Drop NaNs
clean_hotel_df=clean_hotel_df.dropna()
clean_hotel_df.reset_index(drop=True,inplace=True)
print(f"Hotels found nearby {len(clean_hotel_df)} cities.")
clean_hotel_df.tail(10)

Hotels found nearby 289 cities.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
279,Sabang,ID,82.67,broken clouds,5.8933,95.3214,Hotel Citra
280,Verkh-Usugli,RU,69.35,light rain,52.7000,115.1667,"Gostinitsa ""Sever"""
281,Mogadishu,SO,80.47,scattered clouds,2.0371,45.3438,Hotel Juba
282,Cabanas,CU,75.52,light rain,22.9758,-82.9219,Villa Luis Montesino y Anabel
283,Sinnamary,GF,76.64,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
284,Kabardinka,RU,76.98,few clouds,44.6514,37.9428,Ð‘Ð°Ð·Ð° Ð¾Ñ‚Ð´Ñ‹Ñ…Ð° ÐžÑ€Ð»ÐµÐ½Ð¾Ðº
285,Vari,GR,79.02,clear sky,37.8312,23.8081,The Margi
286,Akhmim,EG,82.60,clear sky,26.5622,31.7450,Ø¨Ø±Ø¬ Ø§Ù„Ù…Ø§Ø³Ø© Ø§Ù„Ø³ÙƒÙ†ÙŠ
287,Tecoanapa,MX,76.89,overcast clouds,16.5167,-98.7500,Hotel Manglares
288,Brownsville,US,82.90,clear sky,25.9018,-97.4975,Best Western Hotel Plaza Matamoros

## 8. Export the data

In [15]:
# 8a. Create the output File (CSV)
# Specified in Input Section
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

# Create Map
## 9. Create template for info box

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

## 10. Add data for hotel markers

In [17]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

## 11. Create map

In [18]:
# Call figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))