# RICE-VIRT-DATA-PT-05-2022-U-B-MW Module 6 Challenge

# Deliverable 3. Create a Travel Itinerary Map.
## Code Summary
- **Purpose  :** Collect and analyze weather data across cities worldwide, using 500 or more unique & random cities
- **Created  :** 2022 Jun 22 07:59:44 UTC (Meghan E. Hull)
- **Modified :** 2022 Jun 22 10:06:22 UTC (Meghan E. Hull)

## Dependencies

In [25]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import numpy as np
import time

# Add the directory above current directory to list of directories where Python will look for modules
import sys; sys.path.insert(0, '..')

## API Key

In [3]:
# Import the API key from main directory
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

# Import Vacation_Search Data
## Import File Names

In [4]:
vacation_csv_file="../Vacation_Search/WeatherPy_vacation.csv"

## 1. Import *WeatherPy_vacation.csv*

In [5]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv(vacation_csv_file)
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Bulgan,MN,72.90,broken clouds,48.8125,103.5347,Unitel Булган салбар
1,1,Rikitea,PF,71.58,broken clouds,-23.1203,-134.9692,People ThankYou
2,2,Alofi,NU,76.89,broken clouds,-19.0595,-169.9187,Taloa Heights
3,3,Cairns,AU,83.07,overcast clouds,-16.9167,145.7667,Mantra Trilogy Cairns
4,4,Anloga,GH,77.32,broken clouds,5.7947,0.8973,Pin Drop Hotel

## 2. Create template for map info box

In [6]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

## 3. Add data for hotel markers

In [7]:
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

## 4. Recreate WeatherPy_vacation_map

In [8]:
# Call figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

# Itinerary Maps
## 5. Select four cities to visit

In [10]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City']=='Katsuura') & (vacation_df['Country']=='JP')]
vacation_end = vacation_df.loc[(vacation_df['City']=='Katsuura') & (vacation_df['Country']=='JP')]
vacation_stop1 = vacation_df.loc[(vacation_df['City']=='Muroto') & (vacation_df['Country']=='JP')]
vacation_stop2 = vacation_df.loc[(vacation_df['City']=='Nakamura') & (vacation_df['Country']=='JP')] 
vacation_stop3 = vacation_df.loc[(vacation_df['City']=='Hamada') & (vacation_df['Country']=='JP')]

## 6. Get latitude & longitude tuples

In [62]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[['Lat', 'Lng']].to_numpy()[0]
end = vacation_end[['Lat', 'Lng']].to_numpy()[0]
stop1 = vacation_stop1[['Lat', 'Lng']].to_numpy()[0]
stop2 = vacation_stop2[['Lat', 'Lng']].to_numpy()[0]
stop3 = vacation_stop3[['Lat', 'Lng']].to_numpy()[0]

## 7. Create WeatherPy_travel_map

In [96]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
itinerary_path = gmaps.directions_layer(
    start, end, waypoints=[stop1, stop2, stop3], 
    travel_mode='DRIVING')
fig.add_layer(itinerary_path)
fig

Figure(layout=FigureLayout(height='420px'))

## 8. Create itinerary_df

In [90]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,28,Katsuura,JP,78.82,overcast clouds,35.1333,140.3000,Katsuura Hotel Mikazuki
1,252,Muroto,JP,75.00,overcast clouds,33.2833,134.1500,Oota Ryokan
2,163,Nakamura,JP,76.53,overcast clouds,32.9833,132.9333,Hotel Crown Hills Nakamura
3,69,Hamada,JP,75.92,moderate rain,34.8833,132.0833,Shimane Hamada Washington Hotel Plaza

## 9. Create markers template for info box

In [97]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

## 10. Add data for hotel markers

In [98]:
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

## 11. Create WeatherPy_travel_map_markers

In [99]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))